<%= form_for(@check_in) do |f| %>
  <% if @check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% @check_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ######## Reason for checkin -->
  <div class="form-group">
    <%= f.label :report_type, "Reason" %><br>
    <%= f.select(:report_type, options_for_select([['Poaching // Illegal Fishing', 'Poaching // Illegal Fishing'], ['Habitat Degradation', 'Habitat Degradation'], ['Marine Debris','Marine Debris'], ['Poor Water Quality','Poor Water Quality'] ])) %>
  </div>

  <!-- ######## Latitude and Longitude -->
  <div class="form-group"> 
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :lat, "Latitude" %><br>
        <%= f.text_field :lat, :class => "form-control", :value => 30, :placeholder => "Latitude" %>
      </div>
      <div class="form-group">
        <%= f.label :lat, "Longitude" %><br>
        <%= f.text_field :lng, :class => "form-control", :value => 31, :placeholder => "Longitude" %>
      </div>
    </div>
  </div>

  <!-- ######## Map element --> 
  <div class="form-group">
    <div id="map-canvas" style="width: 100%; height: 120px; background: #eee; border-radius: 4px;"></div>
  </div>

  <!-- ######## Notes -->
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :class => "form-control" %>
  </div>

  <!-- ######## Submit form --> 
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>

<% end %>

<script>
  var map;
  function initialize() {
    var mapOptions = {
      zoom: 2,
      center: new google.maps.LatLng(30, 31)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    navigator.geolocation.getCurrentPosition(success);
  }
  function success(position) {

    var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  
    var options = {
      zoom: 14,
      center: coords,
      mapTypeControl: false,
      navigationControlOptions: {
        style: google.maps.NavigationControlStyle.SMALL
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), options);

    var marker = new google.maps.Marker({
      position: coords,
      map: map,
      title:"You are here!"
    });

    document.getElementById("check_in_lat").value = position.coords.latitude;
    document.getElementById("check_in_lng").value = position.coords.longitude;    

  }

  var ready;
  ready = function() {
    initialize();
  };

  //workaround for turbolinks
  $(document).ready(ready);
  $(document).on('page:load', ready);
  //google.maps.event.addDomListener(window, 'load', initialize);

</script>
