<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @check_in.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @check_in.lng %>
</p>

<p>
  <strong>Type:</strong>
  <%= @check_in.report_type %>
</p>

<p>
  <strong>Fishing type:</strong>
  <%= @check_in.fishing_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @check_in.notes %>
</p>

<% unless @check_in.vessel %>
  <a href="/check_in/vessel/new/<%=@check_in.id%>">Add Vessel +</a>
<% else %>
  Existing Vessel Details
<% end %>

<% unless @check_in.check_in_image %>
  <a href="/check_in/check_in_images/new/<%=@check_in.id%>">Add Images +</a>
<% else %>
  Existing Image Shown
<% end %>

<br><br>
<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>

</div>