<h1>Listing vessels</h1>

<table>
  <thead>
    <tr>
      <th>Check in</th>
      <th>Vessel type</th>
      <th>Vessel number</th>
      <th>Vessel name</th>
      <th>Estimated crew</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vessels.each do |vessel| %>
      <tr>
        <td><%= vessel.check_in_id %></td>
        <td><%= vessel.vessel_type %></td>
        <td><%= vessel.vessel_number %></td>
        <td><%= vessel.vessel_name %></td>
        <td><%= vessel.estimated_crew %></td>
        <td><%= vessel.notes %></td>
        <td><%= link_to 'Show', vessel %></td>
        <td><%= link_to 'Edit', edit_vessel_path(vessel) %></td>
        <td><%= link_to 'Destroy', vessel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vessel', new_vessel_path %>
