<%= form_for(@check_in_image) do |f| %>
  <% if @check_in_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in_image.errors.count, "error") %> prohibited this check_in_image from being saved:</h2>

      <ul>
      <% @check_in_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:check_in_id] %>
    <%= f.hidden_field :check_in_id, :value => params[:check_in_id].to_i %>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <span class="btn btn-default btn-file">
    Upload <%= f.file_field :image %>
  </span>
  <br><br>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
