
<div class="container">








<h4>Search</h4>
<%= form_tag({controller: "reports", action: "index"}, method: "get") do %>

  <div class="form-group">
    <%= label :report_type, "Report Type" %><br>
    <%= select_tag("report_type", options_for_select([['Poaching // Illegal Fishing', 'Poaching // Illegal Fishing'], ['Habitat Degradation', 'Habitat Degradation'], ['Marine Debris','Marine Debris'], ['Poor Water Quality','Poor Water Quality'] ]), class: "form-control") %>
  </div>

  <!-- ######## Submit form --> 
  <div class="form-group">
	<%= submit_tag("Search", class: "btn btn-default") %>
  </div>

<% end %>


	<%= debug @check_ins %>
</div>