
<div class="container">

  <h1>Check-in Reports</h1>


  <!-- ######## Map element --> 
  <div class="form-group">
    <div id="map-canvas" style="width: 100%; height: 120px; background: #eee; border-radius: 4px;"></div>
  </div>


  <!-- ######## Start search form -->
  <h4>Search</h4>
  <%= form_tag({controller: "reports", action: "index"}, method: "get") do %>

  <!-- ######## Search report type - default is all -->
  <div class="form-group">
    <%= label :report_type, "Report Type" %><br>
    <%= select_tag("report_type", options_for_select([ ['Select Report Type',''], ['Poaching // Illegal Fishing', 'Poaching // Illegal Fishing'], ['Habitat Degradation', 'Habitat Degradation'], ['Marine Debris','Marine Debris'], ['Poor Water Quality','Poor Water Quality'] ]), class: "form-control") %>
  </div>

  <!-- ######## Search location with distance radius -->
  <div class="form-group"> 
    <div class="form-inline">
      <div class="form-group">
        <%= label :lat, "Latitude" %><br>
        <%= text_field_tag "lat", nil, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label :lng, "Longitude" %><br>
        <%= text_field_tag "lng", nil, class: "form-control" %>
      </div>

      <div class="form-group">  
        <%= label :radius, "Distance Radius" %><br>
        <%= text_field_tag "radius", nil, class: "form-control" %>
      </div>  
    </div>
  </div>

  <!-- ######## search date range -->
  <div class="form-group"> 
    <div class="form-inline">
      <div class="form-group">
        <%= label :date_start, "Start Date" %><br>
        <%= date_select("date_start",nil, class: "form-control", default: 3.years.ago) %>
      </div>
      <div class="form-group">
        <%= label :date_end, "" %><br>
        &nbsp; to &nbsp;
      </div>
      <div class="form-group">
        <%= label :date_end, "End Date" %><br>
        <%= date_select("date_end",nil, class: "form-control", default: 3.days.from_now) %>
      </div>
    </div>
  </div>

  <!-- ######## Submit form --> 
  <div class="form-group">
   <%= submit_tag("Search", class: "btn btn-default") %>
  </div>

<% end %>

<% if @check_ins and @check_ins.length > 0 %>
<% @check_ins.each do |c|%>
  <%= render :partial => 'check_ins/check_in_partial', :locals => {:c => c  } %>
<% end %>
<% end %>

</div>

<script>
var map;
var marker;
var coords;
function initialize() {

  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(30, 31)
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

 var check_ins = [];
  // window.location.href is a stupid fucking hack
  $.getJSON(window.location.href + '&wt=json', function(data) {
    $.each(data, function(i, val) {

      check_ins.push(val);
    })
    console.log(check_ins);
    for (var j=0; j < check_ins.length; j++) {
      var coords = new google.maps.LatLng(check_ins[j].lat, check_ins[j].lng);
      var marker = new google.maps.Marker({
        position: coords,
        map: map,
        title: check_ins[j].report_type
      }); 

    }

  });

}

var ready;
ready = function() {
document.getElementById("reports_nav").setAttribute("class", "active");
console.log("initialize");
initialize();
};

//workaround for turbolinks
$(document).ready(ready);
$(document).on('page:load', ready);
//google.maps.event.addDomListener(window, 'load', initialize);

</script>



